@use "../abstracts" as *;
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Sixtyfour&display=swap");

.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 21;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);

	.modal {
		overflow: auto;
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
		padding: 30px;
		width: calc(100% - 40px);
		height: calc(100% - 40px);
		background: url("/src/images/modal_bg_border.png") no-repeat center center / cover;
		&::-webkit-scrollbar {
			display: none;
		}
		.btn-close {
			position: absolute;
			top: 16px;
			right: 16px;
			width: 44px;
			height: 44px;
			background: url("/src/images/button_close.png") no-repeat center center / cover;
			font-size: 0;
		}
		.modal-title {
			margin-top: 8px;
			text-align: center;
			font-size: 32px;
			font-family: "Bitcount Grid Single", system-ui;
			font-optical-sizing: auto;
			font-weight: 500;
			font-style: normal;
			color: #002a51;
		}

		&.skills {
			max-width: 836px;
			max-height: 746px;

			.modal-list {
				display: flex;
				gap: 16px;
				margin-top: 30px;
				font-size: 18px;
				font-family: "NeoDunggeunmo Pro", system-ui;
				font-optical-sizing: auto;
				font-weight: 400;
				font-style: normal;
				color: #002a51;
				.modal-item {
					padding: 8px;
					width: 100%;
					height: 344px;
					background: url("/src/images/modal_bg_item.png") no-repeat center center / cover;
					.modal-item-title {
						display: flex;
						justify-content: center;
						align-items: center;
						padding: 11px 0;
						background: #13a8e6;
						font-size: 20px;
						color: #fff;
					}
					.modal-item-content {
						margin-top: 12px;
						height: calc(100% - 54px);
						ul {
							height: 100%;
							background: #fff;
							li {
								padding: 10px;
								text-align: center;
								cursor: pointer;
								&:hover {
									transform: scale(1.05);
									background: rgba(255, 67, 70, 0.15);
									color: #ff4346;
								}
							}
						}
					}
				}
			}
			.modal-selected {
				margin-top: 32px;
				.modal-selected-title {
					text-align: center;
					font-size: 24px;
					font-family: "NeoDunggeunmo Pro", system-ui;
					font-optical-sizing: auto;
					font-weight: 400;
				}
				.modal-selected-item {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-top: 12px;
					width: 100%;
					height: 196px;
					background: url("/src/images/modal_bg_select.png") no-repeat center center / cover;
					.modal-selected-item-text {
						font-size: 18px;
						font-family: "NeoDunggeunmo Pro", system-ui;
						font-optical-sizing: auto;
						font-weight: 400;
					}
					.modal-selected-item-icon {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						gap: 16px;
						font-size: 18px;
						font-family: "NeoDunggeunmo Pro", system-ui;
						font-optical-sizing: auto;
						font-weight: 400;
					}
					img {
						width: 80px;
						height: 80px;
						object-fit: contain;
					}
				}
			}

			@media screen and (max-width: 899px) {
				.modal-list {
					flex-wrap: wrap;
					margin-top: 16px;
					.modal-item {
						position: relative;
						padding: 0;
						width: calc(50% - 8px);
						height: 180px;
						background: #fff;
						.modal-item-title {
							position: absolute;
							top: 0;
							right: 0;
							width: 100%;
						}
						.modal-item-content {
							overflow: auto;
							padding-top: 42px;
							height: 100%;
							margin-top: 0;
							background: none;
							ul {
								li {
									padding: 6px;
								}
							}
						}
					}
				}
				.modal-selected {
					margin-top: 16px;
					.modal-selected-title {
						font-size: 20px;
					}
					.modal-selected-item {
						margin-top: 8px;
						height: 120px;
						img {
							width: 40px;
							height: 40px;
						}
					}
				}
			}
		}
		&.experience {
			max-width: 836px;
			max-height: 746px;
			.modal-letter {
				margin: 30px 0 20px;
				width: 100%;
				border: 4px solid #002a51;
				border-radius: 4px;
				&:last-child {
					margin-top: 20px;
				}
				.modal-letter-title {
					padding: 11px;
					border: 4px solid #5ac2ed;
					background: #13a8e6;
					text-align: center;
					font-size: 20px;
					font-family: "NeoDunggeunmo Pro", system-ui;
					font-optical-sizing: auto;
					font-weight: 400;
					color: #fff;
				}
				.modal-letter-content {
					border-top: 4px solid #002a51;
					ul {
						padding: 16px 28px;
						background: #fff;
						border: 4px solid #d1edfb;
						li {
							position: relative;
							padding-left: 16px;
							margin-bottom: 16px;
							font-size: 18px;
							font-family: "NeoDunggeunmo Pro", system-ui;
							font-optical-sizing: auto;
							font-weight: 400;
							color: #002a51;
							&:before {
								content: "";
								position: absolute;
								top: 6px;
								left: 0;
								width: 4px;
								height: 4px;
								background: #002a51;
							}
							&:last-child {
								margin-bottom: 0;
							}
						}
					}
				}
			}
			.modal-letter-button {
				text-align: right;
				a {
					padding: 8px;
					width: 100%;
					height: 50px;
					border-radius: 4px;
					background: #13a8e6;
					color: #fff;
					font-size: 18px;
					font-family: "NeoDunggeunmo Pro", system-ui;
					font-optical-sizing: auto;
					font-weight: 400;
				}
			}
			@media screen and (max-width: 899px) {
				.modal-letter {
					.modal-letter-title {
						font-size: 18px;
					}
					.modal-letter-content {
						ul {
							li {
								font-size: 16px;
							}
						}
					}
				}
				.modal-letter-button {
					text-align: center;
				}
			}
		}
		&.certificate {
			max-width: 800px;
			max-height: 364px;
			background: url("/src/images/modal_bg_certificate.png") no-repeat center center / cover
				#dcf6ff;
			.modal-certificate-list {
				margin-top: 40px;
				ul {
					display: flex;
					justify-content: center;
					gap: 24px;
					width: 100%;
					li {
						overflow: hidden;
						width: 100%;
						border: 4px solid #1faee8;
						p {
							padding: 20px;
							border: 4px solid #bce9f9;
							background: #a0dff7;
							text-align: center;
							font-size: 22px;
							font-family: "NeoDunggeunmo Pro", system-ui;
							font-optical-sizing: auto;
							font-weight: 400;
							color: #002a51;
							transition: 0.3s;
							&:hover {
								transform: scale(1.05);
							}
						}
					}
					&:last-child {
						margin-top: 20px;
					}
				}

				@media screen and (max-width: 899px) {
					margin-top: 20px;
					ul {
						flex-wrap: wrap;
						gap: 16px;
						li {
							border: 2px solid #1faee8;
							p {
								padding: 16px;
								border: 2px solid #bce9f9;
								font-size: 18px;
							}
						}
					}
				}
			}
		}
		&.contact {
			max-width: 600px;
			max-height: 502px;
			background: url("/src/images/modal_bg_contact.png") no-repeat center center / cover #dcf6ff;
			.modal-contact {
				margin-top: 40px;
				border: 4px solid #002a51;
				border-radius: 4px;
				.modal-contact-item {
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 12px;
					padding: 20px 28px;
					border: 4px solid #d1edfb;
					background: #fff;
					.contact-item-text {
						font-family: "NeoDunggeunmo Pro", system-ui;
						font-optical-sizing: auto;
						font-weight: 400;
						h4 {
							padding-left: 36px;
							font-size: 16px;
							background: url(/src/images/icon_mail.svg) no-repeat left center / contain;
						}
						p {
							margin-top: 16px;
							font-size: 22px;
						}
					}
					.contact-item-qr {
						width: 180px;
						height: 180px;
						background: url(/src/images/mailQr.png) no-repeat center center / contain;
					}
				}
			}
			.modal-contact-button {
				margin-top: 24px;
				border-radius: 4px;
				border: 4px solid #002a51;
				button {
					width: 100%;
					height: 50px;
					border: 4px solid #5ac2ed;
					background: #13a8e6;
					color: #fff;
					font-size: 20px;
					font-family: "NeoDunggeunmo Pro", system-ui;
					font-optical-sizing: auto;
					font-weight: 400;
				}
			}
			@media screen and (max-width: 899px) {
				max-height: 360px;
				.modal-contact {
					margin-top: 24px;
					.modal-contact-item {
						padding: 20px 16px;
						.contact-item-text {
							p {
								font-size: 5vw;
							}
						}
						.contact-item-qr {
							width: 120px;
							height: 120px;
						}
					}
				}
			}
		}

		@media screen and (max-width: 899px) {
			padding: 20px 16px;

			.btn-close {
				width: 28px;
				height: 28px;
			}
			.modal-title {
				font-size: 24px;
			}
		}
	}
}
