@font-face {
	font-family: "Pretendard JP";
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/PretendardJP-Light.woff2") format("woff2"),
		url("/fonts/PretendardJP-Light.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Pretendard JP";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/PretendardJP-Regular.woff2") format("woff2"),
		url("/fonts/PretendardJP-Regular.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Pretendard JP";
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/PretendardJP-SemiBold.woff2") format("woff2"),
		url("/fonts/PretendardJP-SemiBold.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Pretendard JP";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/PretendardJP-Bold.woff2") format("woff2"),
		url("/fonts/PretendardJP-Bold.woff") format("woff");
	font-display: swap;
}
