@use "../abstracts" as *;

@keyframes sway {
	0%,
	100% {
		transform: rotate(-5deg) translateX(-10px);
	}
	50% {
		transform: rotate(5deg) translateX(10px);
	}
}

@keyframes floating {
	0%,
	100% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(10px);
	}
}

@keyframes floating-rotate {
	0%,
	100% {
		transform: translateY(-10px) rotate(-3deg);
	}
	50% {
		transform: translateY(10px) rotate(3deg);
	}
}

@keyframes floating-rotate-reverse {
	0%,
	100% {
		transform: translateY(-10px) rotate(3deg);
	}
	50% {
		transform: translateY(10px) rotate(-3deg);
	}
}

@keyframes float-up {
	0% {
		transform: translate(0, 0) rotate(-2deg) translateX(-5px);
	}
	20% {
		transform: translate(-80px, -120px) rotate(2deg) translateX(5px);
	}
	40% {
		transform: translate(-160px, -240px) rotate(-2deg) translateX(-5px);
	}
	60% {
		transform: translate(-240px, -360px) rotate(2deg) translateX(5px);
	}
	80% {
		transform: translate(-320px, -480px) rotate(-2deg) translateX(-5px);
	}
	100% {
		transform: translate(-400px, -600px) rotate(2deg) translateX(5px);
	}
}

@keyframes jump-flip {
	0% {
		transform: translateY(0) rotateY(0deg);
	}
	25% {
		transform: translateY(-30vh) rotateY(180deg);
	}
	50% {
		transform: translateY(-30vh) rotateY(360deg);
	}
	75% {
		transform: translateY(0) rotateY(360deg);
	}
	100% {
		transform: translateY(0) rotateY(360deg);
	}
}

@keyframes jump-flip-small {
	0% {
		transform: translateY(0) rotateY(0deg);
	}
	25% {
		transform: translateY(-10vh) rotateY(180deg);
	}
	50% {
		transform: translateY(-10vh) rotateY(360deg);
	}
	75% {
		transform: translateY(0) rotateY(360deg);
	}
	100% {
		transform: translateY(0) rotateY(360deg);
	}
}

@keyframes bubble-main {
	0% {
		transform: translateY(200px) scale(0.7);
		opacity: 0;
	}
	10% {
		opacity: 0.9;
	}
	40% {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
	70% {
		transform: translateY(-15px) scale(1.1);
		opacity: 0.7;
	}
	85% {
		transform: translateY(-30px) scale(1.3);
		opacity: 0.4;
	}
	100% {
		transform: translateY(-45px) scale(1.5);
		opacity: 0;
	}
}

@keyframes bubble-small {
	0% {
		transform: translateY(150px) scale(0.5);
		opacity: 0;
	}
	10% {
		opacity: 0.8;
	}
	40% {
		transform: translateY(0) scale(0.6);
		opacity: 0.9;
	}
	70% {
		transform: translateY(-20px) scale(0.8);
		opacity: 0.6;
	}
	85% {
		transform: translateY(-35px) scale(1);
		opacity: 0.3;
	}
	100% {
		transform: translateY(-45px) scale(1.2);
		opacity: 0;
	}
}

.container {
	position: relative;
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom, #d7fff2, #8abfff);
	overflow: hidden;
	.content {
		.logo {
			position: absolute;
			top: 4%;
			right: 4%;
			z-index: 11;
			width: 30%;
		}
		.dolphin {
			position: absolute;
			top: 3%;
			right: 32%;
			width: 10%;
			animation: sway 3s ease-in-out infinite;
			transform-origin: center;
		}
		.jellyfish {
			position: absolute;
			top: 38%;
			right: -2%;
			z-index: 1;
			width: 5%;
			animation: float-up 5s linear infinite;
			transform-origin: center;
		}
		.bubble04 {
			position: absolute;
			top: 12%;
			right: 50%;
			width: 4%;
			height: 10%;
			z-index: 11;
			.bubble04-1 {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 30%;
				opacity: 0;
				animation: bubble-main 4.2s ease-out infinite;
				animation-delay: 0.6s;
			}
			.bubble04-2 {
				position: absolute;
				bottom: 30%;
				right: 14%;
				opacity: 0;
				animation: bubble-small 3.4s ease-out infinite;
				animation-delay: 1s;
			}
			.bubble04-3 {
				position: absolute;
				bottom: 40%;
				right: 4%;
				opacity: 0;
				animation: bubble-small 2.7s ease-out infinite;
				animation-delay: 1.3s;
			}
			.bubble04-4 {
				position: absolute;
				bottom: 60%;
				right: 6%;
				opacity: 0;
				animation: bubble-small 3.6s ease-out infinite;
				animation-delay: 1.6s;
			}
			.bubble04-5 {
				position: absolute;
				top: 10%;
				left: 4%;
				opacity: 0;
				animation: bubble-small 3.1s ease-out infinite;
				animation-delay: 2s;
			}
			.bubble04-6 {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				animation: bubble-small 2.8s ease-out infinite;
				animation-delay: 2.3s;
			}
		}
		.menu-text {
			position: absolute;
			top: 8%;
			left: 4%;
			display: flex;
			flex-direction: column;
			width: 20vw;

			img {
				height: auto;
				transition: transform 0.3s ease-in-out;
				cursor: pointer;
				&:hover {
					transform: scale(1.04);
					filter: invert(0.1);
				}
			}
			.menu-text-skills {
				width: 66%;
				margin-left: 0;
				margin-bottom: -12%;
			}
			.menu-text-experience {
				width: 89%;
				margin-left: 20%;
				margin-bottom: -2%;
			}
			.menu-text-certificate {
				width: 100%;
				margin-left: 6%;
				margin-bottom: -4%;
			}
			.menu-text-contact {
				width: 66%;
				margin-left: 26%;
			}
			.menu-mobile-skills,
			.menu-mobile-experience,
			.menu-mobile-certificate,
			.menu-mobile-contact {
				display: none;
			}
		}
	}

	footer {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 100%;
		.desk {
			position: relative;
			width: 100vw;
			height: 100%;
			max-height: 350px;
			z-index: 2;
		}
		.disk {
			position: absolute;
			bottom: 60%;
			left: 0;
			width: 4%;
			max-width: 70px;
			z-index: 11;
		}
		.book {
			position: absolute;
			bottom: 50%;
			right: 0;
			width: 6%;
			max-width: 100px;
			z-index: 11;
		}
		.gameboy-mobile {
			display: none;
		}
		.tape01-mobile {
			display: none;
		}
		.clock {
			position: absolute;
			bottom: 30%;
			right: 6%;
			width: 26%;
			max-width: 400px;
			z-index: 11;
		}
		.clock-mobile {
			display: none;
		}
		.tape02-mobile {
			display: none;
		}
		.computer {
			// position: absolute;
			// bottom: 0;
			// right: 50%;
			width: 52%;
			max-width: 800px;
			z-index: 11;
		}
		.computer-mobile {
			display: none;
		}
		.computer-with-dog {
			display: flex;
			justify-content: center;
			position: absolute;
			bottom: 0;
			left: 6%;
			width: 80%;
			z-index: 11;
		}
		.dog {
			// position: absolute;
			// bottom: 80%;
			// right: 40%;
			margin-left: -30px;
			width: 10%;
			z-index: 11;
		}
		.dog-mobile {
			display: none;
		}
		.bottle {
			position: absolute;
			bottom: 50%;
			left: 12%;
			width: 2.5%;
			max-width: 40px;
			z-index: 11;
		}

		.starfish {
			position: absolute;
			top: 10%;
			right: 32%;
			z-index: 1;
			width: 6%;
			animation: jump-flip 2s ease-in-out infinite;
			transform-style: preserve-3d;
			perspective: 1000px;
		}
		.fish {
			position: absolute;
			top: -40%;
			left: 24%;
			z-index: 1;
			width: 6%;
			animation: floating 3s ease-in-out infinite;
			transform-origin: center;
		}
		.bubble01 {
			position: absolute;
			top: -20%;
			left: 66%;
			width: 5%;
			height: 10%;
			z-index: 11;
			.bubble01-1 {
				position: absolute;
				bottom: 0;
				left: 0;
				opacity: 0;
				animation: bubble-main 4s ease-out infinite;
				animation-delay: 0s;
			}
			.bubble01-2 {
				position: absolute;
				bottom: 28px;
				right: 0;
				opacity: 0;
				animation: bubble-small 3.2s ease-out infinite;
				animation-delay: 0.3s;
			}
			.bubble01-3 {
				position: absolute;
				bottom: 44px;
				right: 8px;
				opacity: 0;
				animation: bubble-small 2.8s ease-out infinite;
				animation-delay: 0.5s;
			}
			.bubble01-4 {
				position: absolute;
				bottom: 68px;
				right: 6px;
				opacity: 0;
				animation: bubble-small 3.5s ease-out infinite;
				animation-delay: 0.8s;
			}
			.bubble01-5 {
				position: absolute;
				bottom: 90px;
				right: 10px;
				opacity: 0;
				animation: bubble-small 3s ease-out infinite;
				animation-delay: 1.2s;
			}
			.bubble01-6 {
				position: absolute;
				bottom: 95px;
				right: 28px;
				opacity: 0;
				animation: bubble-small 2.7s ease-out infinite;
				animation-delay: 1.5s;
			}
			.bubble01-7 {
				position: absolute;
				bottom: 108px;
				right: 20px;
				opacity: 0;
				animation: bubble-small 3.3s ease-out infinite;
				animation-delay: 1.8s;
			}
			.bubble01-8 {
				position: absolute;
				bottom: 99px;
				right: 12px;
				opacity: 0;
				animation: bubble-small 2.9s ease-out infinite;
				animation-delay: 2.1s;
			}
		}
		.bubble02 {
			position: absolute;
			top: -22%;
			left: 12%;
			width: 3%;
			height: 5%;
			z-index: 11;
			.bubble02-1 {
				position: absolute;
				bottom: 0;
				left: 0;
				opacity: 0;
				animation: bubble-main 4.5s ease-out infinite;
				animation-delay: 1.2s;
			}
			.bubble02-2 {
				position: absolute;
				bottom: 28px;
				right: 0;
				opacity: 0;
				animation: bubble-small 3.5s ease-out infinite;
				animation-delay: 1.6s;
			}
			.bubble02-3 {
				position: absolute;
				bottom: 44px;
				right: 8px;
				opacity: 0;
				animation: bubble-small 3s ease-out infinite;
				animation-delay: 1.9s;
			}
			.bubble02-4 {
				position: absolute;
				bottom: 68px;
				right: 6px;
				opacity: 0;
				animation: bubble-small 3.8s ease-out infinite;
				animation-delay: 2.3s;
			}
			.bubble02-5 {
				position: absolute;
				bottom: 90px;
				right: 10px;
				opacity: 0;
				animation: bubble-small 3.3s ease-out infinite;
				animation-delay: 2.7s;
			}
		}
		.bubble03 {
			position: absolute;
			top: -82%;
			right: 4%;
			width: 3%;
			height: 5%;
			z-index: 11;
			.bubble03-1 {
				position: absolute;
				bottom: 0;
				left: 0;
				opacity: 0;
				animation: bubble-main 3.8s ease-out infinite;
				animation-delay: 2.4s;
			}
			.bubble03-2 {
				position: absolute;
				bottom: 28px;
				right: 0;
				opacity: 0;
				animation: bubble-small 3.1s ease-out infinite;
				animation-delay: 2.7s;
			}
			.bubble03-3 {
				position: absolute;
				bottom: 44px;
				right: 8px;
				opacity: 0;
				animation: bubble-small 2.6s ease-out infinite;
				animation-delay: 3s;
			}
			.bubble03-4 {
				position: absolute;
				bottom: 68px;
				right: 6px;
				opacity: 0;
				animation: bubble-small 3.4s ease-out infinite;
				animation-delay: 3.3s;
			}
			.bubble03-5 {
				position: absolute;
				bottom: 90px;
				right: 10px;
				opacity: 0;
				animation: bubble-small 2.9s ease-out infinite;
				animation-delay: 3.6s;
			}
		}
	}
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
	.container {
		.content {
			.logo {
				width: 50%;
				left: unset;
				right: 50%;
				transform: translateX(50%);
			}
			.dolphin {
				right: unset;
				left: 18%;
			}
			.jellyfish {
				width: 8%;
			}
			.menu-text {
				position: absolute;
				left: 0;
				top: 26%;
				width: 100%;
				height: 40%;
				.menu-text-skills,
				.menu-text-experience,
				.menu-text-certificate,
				.menu-text-contact {
					display: none;
				}
				.menu-mobile-skills,
				.menu-mobile-experience,
				.menu-mobile-certificate,
				.menu-mobile-contact {
					display: block;
					width: 40%;
					margin: 20px auto;
				}
			}
		}
		// footer {
		// 	.computer {
		// 		display: none;
		// 	}
		// 	.computer-mobile {
		// 		display: block;
		// 		position: absolute;
		// 		right: 50%;
		// 		bottom: 0;
		// 		width: 30%;
		// 		z-index: 11;
		// 	}
		// }
	}
}

@media screen and (max-width: 650px) and (orientation: portrait) {
	.container {
		.content {
			.logo {
				width: 70%;
				top: 10%;
			}
			.dolphin {
				width: 16%;
				top: 8%;
				left: 6%;
			}
			.jellyfish {
				width: 10%;
			}
			.menu-text {
				top: 54%;
				transform: translateY(-50%);
				z-index: 12;
				.menu-mobile-skills,
				.menu-mobile-experience,
				.menu-mobile-certificate,
				.menu-mobile-contact {
					width: 46%;
					margin: 12px auto;
				}
			}
		}
		footer {
			height: 20%;
			.desk {
				position: absolute;
				bottom: 0;
				height: 80%;
			}
			.computer-with-dog {
				display: none;
			}
			.computer-mobile {
				display: block;
				position: absolute;
				bottom: 0;
				z-index: 11;
				width: 44%;
				right: 30%;
			}
			.disk {
				width: 8%;
				bottom: 54%;
			}
			.gameboy-mobile {
				display: block;
				position: absolute;
				width: 12%;
				left: 2%;
				bottom: 64vh;
				z-index: 2;
				animation: floating-rotate-reverse 4s ease-in-out infinite;
				transform-origin: center;
			}
			.tape01-mobile {
				display: block;
				position: absolute;
				width: 24%;
				left: -10%;
				bottom: 62vh;
				z-index: 1;
				animation: floating-rotate 4s ease-in-out infinite;
				transform-origin: center;
			}
			.clock {
				display: none;
			}
			.clock-mobile {
				display: block;
				position: absolute;
				width: 12%;
				right: 1%;
				bottom: 48vh;
				z-index: 2;
				animation: floating-rotate 4s ease-in-out infinite;
				transform-origin: center;
			}
			.tape02-mobile {
				display: block;
				position: absolute;
				width: 24%;
				right: -6%;
				bottom: 47vh;
				z-index: 1;
				animation: floating-rotate-reverse 4s ease-in-out infinite;
				transform-origin: center;
			}
			.book {
				width: 8%;
				bottom: 40%;
			}
			.dog-mobile {
				display: block;
				position: absolute;
				width: 18%;
				right: 24%;
				bottom: 60%;
				z-index: 11;
			}
			.bottle {
				width: 5%;
				bottom: 60%;
				right: 12%;
			}
			.fish {
				width: 10%;
				left: 9%;
			}
			.starfish {
				width: 10%;
				right: 2%;
				animation: jump-flip-small 2s ease-in-out infinite;
			}
		}
	}
}
