@use "../abstracts" as *;

@keyframes sway {
	0%,
	100% {
		transform: rotate(-5deg) translateX(-10px);
	}
	50% {
		transform: rotate(5deg) translateX(10px);
	}
}

@keyframes floating {
	0%,
	100% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(10px);
	}
}

@keyframes float-up {
	0% {
		transform: translate(0, 0) rotate(-2deg) translateX(-5px);
	}
	20% {
		transform: translate(-80px, -120px) rotate(2deg) translateX(5px);
	}
	40% {
		transform: translate(-160px, -240px) rotate(-2deg) translateX(-5px);
	}
	60% {
		transform: translate(-240px, -360px) rotate(2deg) translateX(5px);
	}
	80% {
		transform: translate(-320px, -480px) rotate(-2deg) translateX(-5px);
	}
	100% {
		transform: translate(-400px, -600px) rotate(2deg) translateX(5px);
	}
}

@keyframes jump-flip {
	0% {
		transform: translateY(0) rotateY(0deg);
	}
	25% {
		transform: translateY(-30vh) rotateY(180deg);
	}
	50% {
		transform: translateY(-30vh) rotateY(360deg);
	}
	75% {
		transform: translateY(0) rotateY(360deg);
	}
	100% {
		transform: translateY(0) rotateY(360deg);
	}
}

.container {
	position: relative;
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom, #d7fff2, #8abfff);
	.logo {
		position: absolute;
		top: 4%;
		right: 4%;
		z-index: 11;
		width: 30%;
	}
	.dolphin {
		position: absolute;
		top: 3%;
		right: 32%;
		width: 10%;
		animation: sway 3s ease-in-out infinite;
		transform-origin: center;
	}
	.jellyfish {
		position: absolute;
		top: 38%;
		right: -2%;
		z-index: 1;
		width: 5%;
		animation: float-up 5s linear infinite;
		transform-origin: center;
	}

	footer {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 100%;
		.desk {
			position: relative;
			width: 100%;
			height: 100%;
			z-index: 2;
		}
		.disk {
			position: absolute;
			bottom: 60%;
			left: 0;
			width: 4%;
			z-index: 11;
		}
		.book {
			position: absolute;
			bottom: 50%;
			right: 0;
			width: 6%;
			z-index: 11;
		}
		.clock {
			position: absolute;
			bottom: 30%;
			right: 6%;
			width: 26%;
			z-index: 11;
		}
		.computer {
			position: absolute;
			bottom: 0;
			left: 8%;
			width: 52%;
			z-index: 11;
		}
		.dog {
			position: absolute;
			bottom: 80%;
			right: 40%;
			width: 10%;
			z-index: 11;
		}
		.bottle {
			position: absolute;
			bottom: 50%;
			right: 32%;
			width: 2.5%;
			z-index: 11;
		}

		.starfish {
			position: absolute;
			top: 10%;
			right: 32%;
			z-index: 1;
			width: 6%;
			animation: jump-flip 2s ease-in-out infinite;
			transform-style: preserve-3d;
			perspective: 1000px;
		}
		.fish {
			position: absolute;
			top: -40%;
			left: 24%;
			z-index: 1;
			width: 6%;
			animation: floating 3s ease-in-out infinite;
			transform-origin: center;
		}
	}
}
