@use 'variables' as *;
@use 'mixins' as *;

#archive {
  // display
  .d-grid {
    display: grid;
  }

  .d-flex {
    display: flex;
  }

  .d-none {
    display: none !important;
  }

  // align-items
  .align-items-start {
    align-items: flex-start !important;
  }

  .align-items-center {
    align-items: center !important;
  }

  .align-items-end {
    align-items: flex-end !important;
  }

  .justify-content-end {
    justify-content: flex-end !important;
  }

  .justify-content-center {
    justify-content: center !important;
  }

  .justify-content-start {
    justify-content: flex-start !important;
  }

  // padding
  .pd-0 {
    padding: 0 !important;
  }

  .pt-0 {
    padding-top: 0 !important;
  }

  .pb-0 {
    padding-bottom: 0 !important;
  }

  .mt-0 {
    margin-top: 0 !important;
  }

  .mb-0 {
    margin-bottom: 0 !important;
  }

  .mt-auto {
    margin-top: auto !important;
  }

  // gap
  .gap-4 {
    gap: var(--spacing-4) !important;
  }

  // width
  .w-100 {
    width: 100% !important;
  }

  .h-100 {
    height: 100% !important;
  }

  .min-h-600 {
    min-height: 600px;
  }

  .w-min-content {
    width: min-content !important;
  }

  // border
  .border-left-1 {
    padding-left: var(--spacing-12);
    border-left: 1px solid var(--border-subtle-01);
  }

  .border-bottom-0 {
    border-bottom: 0 !important;
  }

  // flex
  .flex-grow-0 {
    flex-grow: 0 !important;
  }

  .flex-grow-1 {
    flex-grow: 1 !important;
  }

  // ant-ui
  .ant-divider {
    &-vertical {
      top: 0;
      display: inline-block;
      flex: 0 0 auto;
      width: 1px;

      // height: 100%;
      height: 12px;
      margin: 0 3px;
      background-color: var(--border-subtle-01);
      border-color: var(--border-subtle-01);
      border-block-start: 1px solid var(--border-subtle-01);
      border-top: 0;
    }

    &-horizontal {
      clear: both;
      display: flex;
      width: 100%;
      min-width: 100%;
      height: 1px;
      margin: var(--spacing-4) 0;
      border-color: var(--border-subtle-01);
    }

    // 공통 컨텐츠, 섹션 분리 디바이더
    &.size-large {
      flex: 0 0 auto;
      height: 8px;
      margin: 0;
      background-color: var(--layer-00);
      border: 0;
      border-top: 1px solid var(--border-subtle-01);
    }

    &.status-divider {
      height: $statusHeight;
    }
  }

  // none
  .focus-effect-none {
    outline: 0;
    border: 0;
    box-shadow: none;
  }

  .focus-no-outline {
    outline: none !important;
  }

  .pointer-events-none {
    pointer-events: none !important;
  }

  // 스크롤
  .scroll-container {
    @include scrollbars;
    overflow-y: auto;

    &.md {
      max-height: $containerHeightMd;
    }
  }

  // 단독 컨텐츠, 섹션일 경우 바디 스크롤 활성화 (테스트 중)
  .stretch-container {
    height: 100%;

    > .content-body,
    > .section-body {
      display: inline-flex;
      flex: 1;
      align-self: stretch;
      overflow: hidden;

      > div {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  // (row) a-row, a-col 추가
  .columns-7 {
    .ant-col {
      width: calc(100% / 7);
    }
  }

  .columns-5 {
    .ant-col {
      width: calc(100% / 5);
    }
  }

  // (column) a-col 추가
  // .ant-flex-vertical {
  //   &.columns-3 {
  //   }
  // }

  // BasicEllipsisText 컴포넌트
  .ellipsis-text {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.line-clamp-2 {
      @include ellipsis(2);
      white-space: normal;
    }

    &.line-clamp-3 {
      @include ellipsis(3);
      white-space: normal;
    }

    &.line-clamp-4 {
      @include ellipsis(4);
      white-space: normal;
    }
  }
}
