// @use 'themes';
@use "base";
@use "abstracts";

html {
	body {
		font-family: "Pretendard JP", sans-serif !important;
		font-size: 14px;
		line-height: 1;
		text-rendering: optimizelegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
